.row-content {
    padding: 50px 0;
    border-bottom: 0px ridge;
    min-height: 200px;
}


body {
    background: rgb(71,70,87);
    background: linear-gradient(90deg, rgba(71,70,87,1) 0%, rgba(74,74,102,1) 35%, rgba(53,94,108,1) 59%, rgba(13,128,152,1) 100%);
}

#navbar {
    background-color: rgba(137, 43, 226, 0.076);
}

.navbar {
    box-shadow: 0 0 40px rgb(4, 247, 255);
    background-color: rgba(10, 255, 255, 0.464);
}

.nav-item {
    border-radius: 7px;
    padding: 0px 2px;
    margin: 0px 2px;
}
.nav-item:hover {
    box-shadow: 0 0 40px rgb(3, 21, 120);
}

.codeLogo {
    width: 40px;
    margin: 10px;
    border-radius: 100px;
}


.container img:hover {
    box-shadow: 0px 0px 30px rgb(0, 229, 255);
    background-color: rgba(0, 247, 255, 0.31);
}


p {
    color:rgb(252, 252, 252);
}

div h1{
    margin-top: 100px;
    color:rgb(16, 255, 255);
}

div h2{
    color:rgb(255, 255, 255)
}

#myName {
    color:white;
    margin-left: 50px;
}



/*          Project Page            */

.card {
    margin: 10px;
    margin-top: 30px;
    width: 300px;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.573);
    
    
}
.card-body{
    background-color: rgb(12, 170, 198);
    padding: 0px;
    border-color: rgba(240, 248, 255, 0);
    border-radius: 0px;
}

.project-background {
    background: rgb(13,128,152);
    background: linear-gradient(90deg, rgba(13,128,152,1) 0%, rgba(53,94,108,1) 35%, rgba(74,74,102,1) 60%, rgba(71,70,87,1) 100%);
    margin: 0px 50px;
    border-radius: 17px;
    color: white
}

.project-video {
    max-width: 50%;
}



/*          Contact Page            */

label {
    color:white
}

/*          Resume Page            */
.resume {
    background-color: aliceblue;
    max-width: 50%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
}

.nothing {
    margin-top: 150px;
    
}